:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --darkColor: #181818;
  --lightColor: whitesmoke;
  --accColor: #0D0D35;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}
header{
  text-align: center;
}
body{
  background-color: var(--darkColor);
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#gameCanvas{
  border: 2px solid red;
  display: flex;
  z-index: 1;
  max-height: 90%;
  margin-bottom: 10px;
}